.site-name{
    a:link,
    a:visited{
        font-size: 2.5rem;
        font-weight: 700;
        text-decoration: $textDecoration;
        color: $dodgerblue
    }
    animation: sitename 2s infinite;

    @keyframes sitename{
        0%{
            transform: translateX(-10px);
        }
        
        50%{
            transform: translateX(10px);
        }

        100%{
            transform: translateX(-10px);
        }
    }
    &:hover{
        animation: none;
    }
}